In [61]:
import pandas as pd 
import numpy as np

In [4]:
data =  pd.read_excel("Diverzify Data Exploration.xlsx")

In [250]:
data.head()

,SITE,SITE DESCRIPTION,SUPPLIER NO,SUPPLIER NAME,INVOICE ID,INVOICE NO,DATE POSTED,PROJECT ID,PROJECT NAME,ACCOUNT,...,PART DESCRIPTION,COMM 1,COMM 2,PO PURCH QTY,PURCH UOM,PO INV QTY,INV UOM,INVOICED LINE QTY,INVOICE LINE TOTAL,PO PRICE
0,DIT,Diverzify Itasca,102332,On The Go,429934,1205099,2024-01-02,NaN,NaN,2008,...,NaN,NaN,NaN,1.0,EA,1.0,EA,1.0,373.15,373.15
1,DIT,Diverzify Itasca,102835,"Online Frieght Services, Inc.",429940,1626549,2024-01-02,NaN,NaN,7305,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,900.00,NaN
2,DIT,Diverzify Itasca,129385,H&E Smith Ltd,430755,38,2024-01-02,230692844,Hawksmoor Ceramic,1407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6350.00,NaN
3,DIT,Diverzify Itasca,101928,VAN GELDER INC,430794,267481-00 48431,2024-01-02,2309113311,River Center Entry Mats,2008,...,Van Gelder Medium Profile Edging (30390070MP) ...,150,150,18.0,LF,18.0,LF,18.0,30.60,30.60
4,DIT,Diverzify Itasca,101928,VAN GELDER INC,430803,267481-00 DIT39490,2024-01-02,2309113311,River Center Entry Mats,2008,...,VAN GELDER\PLAIN EAGLE MAT CUSTOM\BEIGE\MEDIUM...,1MATS,2MATS,1.0,EA,1.0,EA,1.0,423.50,423.50

In [252]:
data.columns

Index(['SITE', 'SITE DESCRIPTION', 'SUPPLIER NO', 'SUPPLIER NAME',
       'INVOICE ID', 'INVOICE NO', 'DATE POSTED', 'PROJECT ID', 'PROJECT NAME',
       'ACCOUNT', 'ACCOUNT DESCRIPTION', 'PLANNED DELIVERY DATE',
       'SHIP TO ZIP', 'PO NO', 'PO LINE NO', 'PO REL NO', 'RECEIPT NO',
       'PART NO', 'PART DESCRIPTION', 'COMM 1', 'COMM 2', 'PO PURCH QTY',
       'PURCH UOM', 'PO INV QTY', 'INV UOM', 'INVOICED LINE QTY',
       'INVOICE LINE TOTAL', 'PO PRICE'],
      dtype='object')

In [272]:
data['month name']= data['DATE POSTED'].dt.month_name()
data.head()

,SITE,SITE DESCRIPTION,SUPPLIER NO,SUPPLIER NAME,INVOICE ID,INVOICE NO,DATE POSTED,PROJECT ID,PROJECT NAME,ACCOUNT,...,COMM 1,COMM 2,PO PURCH QTY,PURCH UOM,PO INV QTY,INV UOM,INVOICED LINE QTY,INVOICE LINE TOTAL,PO PRICE,month name
0,DIT,Diverzify Itasca,102332,On The Go,429934,1205099,2024-01-02,NaN,NaN,2008,...,NaN,NaN,1.0,EA,1.0,EA,1.0,373.15,373.15,January
1,DIT,Diverzify Itasca,102835,"Online Frieght Services, Inc.",429940,1626549,2024-01-02,NaN,NaN,7305,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,900.00,NaN,January
2,DIT,Diverzify Itasca,129385,H&E Smith Ltd,430755,38,2024-01-02,230692844,Hawksmoor Ceramic,1407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6350.00,NaN,January
3,DIT,Diverzify Itasca,101928,VAN GELDER INC,430794,267481-00 48431,2024-01-02,2309113311,River Center Entry Mats,2008,...,150,150,18.0,LF,18.0,LF,18.0,30.60,30.60,January
4,DIT,Diverzify Itasca,101928,VAN GELDER INC,430803,267481-00 DIT39490,2024-01-02,2309113311,River Center Entry Mats,2008,...,1MATS,2MATS,1.0,EA,1.0,EA,1.0,423.50,423.50,January

In [280]:
summary = data.pivot_table(index= 'month name', aggfunc= 'sum', values='INVOICE LINE TOTAL', columns= 'ACCOUNT DESCRIPTION')
summary.head()

ACCOUNT DESCRIPTION,2008 â€“ Received Not Yet Invoiced â€“ WinBid,Accrued Bonus,Accrued Expenses,Advance Invoice,Auto Fuel,Branded Merchandise,Building Maintenance - Cleaning Supplies,Building Maintenance - Fire Safety,Building Maintenance - HVAC,Building Maintenance - Landscape,...,Vendor Rebates,Warehouse Count Variances,Warehouse Equipment,Warehouse Forklift Rentals,Warehouse Forklift Repairs,Warehouse Other,Warehouse Recycle,Warehouse Supplies,Warehouse Tools,Warehouse Trash
month name,,,,,,,,,,,,,,,,,,,,,
April,249.25,NaN,2913.48,487095.07,NaN,315.00,2200.0,NaN,NaN,528.0,...,NaN,6016.28,NaN,986.03,1867.53,146.68,NaN,69446.69,3222.18,4901.79
August,6368.80,NaN,NaN,338340.40,NaN,185.50,2200.0,NaN,478.87,NaN,...,NaN,1248.08,NaN,1084.63,1125.38,NaN,NaN,33772.22,1.86,3508.89
December,NaN,NaN,-2500.00,431888.13,NaN,NaN,1100.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4247.1,910.49,52.74,4206.93
February,471464.40,915.0,NaN,483817.21,NaN,140.00,2750.0,620.00,12546.00,NaN,...,NaN,14257.69,4287.93,1032.87,2107.37,1976.73,NaN,23000.03,-129.46,5762.80
January,334236.14,NaN,NaN,630510.86,108.0,1496.25,4400.0,1530.44,NaN,NaN,...,-1086.48,11679.23,13898.20,3092.68,5769.41,3220.29,NaN,11445.84,59.01,16802.67

In [282]:
total_row = pd.DataFrame(summary.sum(numeric_only=True)).T
total_row

ACCOUNT DESCRIPTION,2008 â€“ Received Not Yet Invoiced â€“ WinBid,Accrued Bonus,Accrued Expenses,Advance Invoice,Auto Fuel,Branded Merchandise,Building Maintenance - Cleaning Supplies,Building Maintenance - Fire Safety,Building Maintenance - HVAC,Building Maintenance - Landscape,...,Vendor Rebates,Warehouse Count Variances,Warehouse Equipment,Warehouse Forklift Rentals,Warehouse Forklift Repairs,Warehouse Other,Warehouse Recycle,Warehouse Supplies,Warehouse Tools,Warehouse Trash
0,943616.07,915.0,19571.71,5406962.3,108.0,12582.65,30810.4,9289.44,14321.53,10744.04,...,-1086.48,45515.49,18279.99,15229.18,28513.48,6417.7,4247.1,188733.85,9836.25,71509.77

1) Why is project ID not unique, how do you classify a PO?
2) What are the Null PO, numbers?
3) What is being pulled by this IFS system?
4) Does the data show more than just orders?
5) Why are some quantities in day and month?
6) What is piece, KIT?
7) Can we get a glossary on the following UOM and thier conversion rate to lbs

In [231]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51707 entries, 0 to 51706
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SITE                   51707 non-null  object
 1   SITE DESCRIPTION       51707 non-null  object
 2   SUPPLIER NO            51707 non-null  object
 3   SUPPLIER NAME          51698 non-null  object
 4   INVOICE ID             51707 non-null  int64
 5   INVOICE NO             51707 non-null  object
 6   DATE POSTED            51707 non-null  datetime64[ns]
 7   PROJECT ID             47271 non-null  object
 8   PROJECT NAME           47271 non-null  object
 9   ACCOUNT                51707 non-null  int64
 10  ACCOUNT DESCRIPTION    51707 non-null  object
 11  PLANNED DELIVERY DATE  35651 non-null  datetime64[ns]
 12  SHIP TO ZIP            36052 non-null  object
 13  PO NO                  47718 non-null  object
 14  PO LINE NO             36018 non-null  object
 15  PO REL NO              36018 non-null  object
 16  RECEIPT NO             36018 non-null  float64
 17  PART NO                35188 non-null  object
 18  PART DESCRIPTION       35650 non-null  object
 19  COMM 1                 23929 non-null  object
 20  COMM 2                 25126 non-null  object
 21  PO PURCH QTY           35651 non-null  float64
 22  PURCH UOM              35651 non-null  object
 23  PO INV QTY             35651 non-null  float64
 24  INV UOM                25519 non-null  object
 25  INVOICED LINE QTY      34788 non-null  float64
 26  INVOICE LINE TOTAL     51707 non-null  float64
 27  PO PRICE               34021 non-null  float64
dtypes: datetime64[ns](2), float64(6), int64(2), object(18)
memory usage: 11.0+ MB

In [233]:
#Get the supplier name 
unique_entry = data.nunique()
print(unique_entry)

SITE                         2
SITE DESCRIPTION             2
SUPPLIER NO                843
SUPPLIER NAME              896
INVOICE ID               23928
INVOICE NO               23801
DATE POSTED                324
PROJECT ID                3759
PROJECT NAME              3734
ACCOUNT                     93
ACCOUNT DESCRIPTION         93
PLANNED DELIVERY DATE      462
SHIP TO ZIP                108
PO NO                    18135
PO LINE NO                  35
PO REL NO                   19
RECEIPT NO                 107
PART NO                  10334
PART DESCRIPTION         15048
COMM 1                      74
COMM 2                      95
PO PURCH QTY              4948
PURCH UOM                   21
PO INV QTY                4530
INV UOM                     14
INVOICED LINE QTY         5379
INVOICE LINE TOTAL       24770
PO PRICE                 16410
dtype: int64

**UOM and Quantity**

In [236]:
#Get the supplier name 
unique_UOM = data['PURCH UOM'].unique()
print(unique_UOM)
print ( f"\nThere are {data['PURCH UOM'].nunique()} UOM ")

['EA' nan 'LF' 'CTN' 'pkg' 'PCS' 'SF' 'SY' 'ROLL' 'HR' 'CS' 'COIL' 'GAL'
 'Piece' 'gal' 'm2' 'PR' 'BOX' 'KIT' 'oz' 'month' 'DAY']

There are 21 UOM

In [238]:
#filtered by day
filtered_day_UOM = data.loc[data['PURCH UOM'] == 'DAY', ['PART DESCRIPTION', 'SUPPLIER NAME','PO INV QTY']]
print(filtered_day_UOM)

                     PART DESCRIPTION                SUPPLIER NAME  PO INV QTY
37986     Trip Charge To Install Base  Iave Jireh Construction Inc         1.0
37997        Install Mud Bed - Zone 5   JCA Premier Remodeling LLC       400.0
39425        Install Mud Bed - Zone 5   JCA Premier Remodeling LLC       554.0
42779  Labor For 2nd Trip - 1 1/2 day         OC TIle & Marble Inc         1.0

In [240]:
# Data without quantitiy 
filtered_null_QTY = data.loc[data['PO PURCH QTY'].isna(), ['PART DESCRIPTION', 'SUPPLIER NAME',]]
print(filtered_null_QTY)

row_count = filtered_null_QTY.shape[0]
print(f"Number of rows: {row_count}")

      PART DESCRIPTION                                      SUPPLIER NAME
1                  NaN                      Online Frieght Services, Inc.
2                  NaN                                      H&E Smith Ltd
11                 NaN                                     VAN GELDER INC
12                 NaN                           Ecore International Inc.
13                 NaN                           Ecore International Inc.
...                ...                                                ...
51701              NaN                                      Iron Mountain
51702              NaN                                    Sunbelt Rentals
51703              NaN                                    Sunbelt Rentals
51704              NaN  Blossman Gas, Inc. of Georgia dba Blossman Gas...
51706              NaN                              Shaw Industries, Inc.

[16056 rows x 2 columns]
Number of rows: 16056

1) why are there no quantities for so many suppliers?
2) what is the invoice quantitiy?

In [243]:
#Unique null quantitiy suppliers 
null_quantity_suppliers =  filtered_null_QTY['SUPPLIER NAME'].nunique()
print (null_quantity_suppliers)

770

**Account Description**

In [246]:
#Explore various account description
unique_UOM = data['ACCOUNT DESCRIPTION'].unique()
print(unique_UOM)

['Received Not Yet Invoiced' 'Postage / Delivery' 'Advance Invoice'
 'PROJECT Freight' '2008 â€“ Received Not Yet Invoiced â€“ WinBid'
 'PROJECT Supplies and Materials' 'Outside IT Services'
 'PROJECT Received Project Material' 'Purchase Discounts'
 'PROJECT PO Variance M181 & M182' 'Temporary Staffing' 'Rent - Building'
 'Warehouse Count Variances' 'Warehouse Supplies' 'Sales Tax Payable'
 'Office Expense' 'General Supplies/Materials'
 'PROJECT Other Direct Costs' 'Warehouse Other' 'Professional Fees'
 'Delivery Other' 'Outside Professional Services (Add Back)'
 'Warehouse Trash' 'Warehouse Equipment' 'Building Maintenance - Security'
 'Building Maintenance - Other' 'Utilities' 'Union Payable'
 'Business Licenses' 'Freight Payable' 'Safety Costs' 'PROJECT Per Diem'
 'Prepaid Expense - Job Cost' 'Auto Fuel' 'Marketing'
 'Equipment Rental (copiers, printers)' 'Migration - A/P'
 'CARE Stewardship Fee' 'PROJECT Sub-Contract Labor'
 'Delivery Vehicle Tracking' 'Building Maintenance - Fire Safety'
 'Building Maintenance - Plumbing' 'Building Maintenance - HVAC'
 'Recruiting Fees' 'SERVICE Sub Labor' 'Warehouse Tools'
 'Deferred Rent Liability' 'HR Initiatives' 'Late Fees on Invoices'
 'Estimating Services - External' 'Building Maintenance - Landscape'
 'Material Purchases from Work Orders' 'Corporate Wages & Salaries'
 'Delivery Fuel' 'IT Outside Services (Add Back)' 'Delivery Rental'
 'Vehicle Repairs' 'Donations / Contributions'
 'Other Marketing & Advertising' 'PROJECT Rental Charges' 'Legal Fees'
 'Delivery Parking & Tolls / Tickets' 'PM Wages & Salaries'
 'Property Taxes' 'PROJECT Use Tax for Jobs'
 'Employee Insurance - Fixed Fees' 'PROJECT Equipment'
 'Branded Merchandise' 'Warehouse Forklift Repairs' 'Other Service Costs'
 'PROJECT Warehouse Delivery' 'Warehouse Recycle' 'Training'
 'Vendor Rebates' 'Delivery Repair' 'Entertainment' 'Dues & Subscriptions'
 'Warehouse Forklift Rentals' 'Building Maintenance - Cleaning Supplies'
 'Prepaid Expense' 'OPS Wages & Salaries' 'Accrued Bonus'
 'Cleaning Supplies' 'Building: Property Insurance'
 'Software Licensing & SAAS'
 'Project Overhead - Synthetics (Contra Account)' 'Accrued Expenses'
 'Manual CIP Assets Adj' 'Cleaning Crew'
 'Project Material transfer within site' 'Professional Fees (Other)'
 'State Business Tax Payable' 'Prepaid Expenses - Credit Cards']

***Project Freight***

1) What is the project freight?
2) Most of the project freight do not have quantities, nor do they have part descriptions
3) 70 of the project freight has part descriptions and associated quantities, whats the difference? 
4) How are these purchase orders any different, are they linked to a supplier or is it location dependent? (its not a supplier thing, 27 suppliers are common in both null and not null freight)

In [214]:
freight_use = data.loc[data['ACCOUNT DESCRIPTION'] == 'PROJECT Freight', ['PART DESCRIPTION', 'SUPPLIER NAME','PO INV QTY']]
print(freight_use)

      PART DESCRIPTION                          SUPPLIER NAME  PO INV QTY
11                 NaN                         VAN GELDER INC         NaN
13                 NaN               Ecore International Inc.         NaN
17                 NaN               Ecore International Inc.         NaN
80                 NaN           Louisville Tile Distributors         NaN
99                 NaN                  Forbo Industries, Inc         NaN
...                ...                                    ...         ...
51671              NaN                   Dal Tile Corporation         NaN
51673              NaN  Ceramic Technics LLC dba Stone Source         NaN
51677              NaN  Ceramic Technics LLC dba Stone Source         NaN
51693              NaN  Ceramic Technics LLC dba Stone Source         NaN
51696              NaN  Ceramic Technics LLC dba Stone Source         NaN

[8340 rows x 3 columns]

In [216]:
null_freight = freight_use.loc[freight_use['PO INV QTY'].isna(), ['PART DESCRIPTION', 'SUPPLIER NAME']]
print(null_freight)

      PART DESCRIPTION                          SUPPLIER NAME
11                 NaN                         VAN GELDER INC
13                 NaN               Ecore International Inc.
17                 NaN               Ecore International Inc.
80                 NaN           Louisville Tile Distributors
99                 NaN                  Forbo Industries, Inc
...                ...                                    ...
51671              NaN                   Dal Tile Corporation
51673              NaN  Ceramic Technics LLC dba Stone Source
51677              NaN  Ceramic Technics LLC dba Stone Source
51693              NaN  Ceramic Technics LLC dba Stone Source
51696              NaN  Ceramic Technics LLC dba Stone Source

[8270 rows x 2 columns]

In [218]:
not_null_freight= freight_use.loc[freight_use['PO INV QTY'].notna() & (freight_use['PO INV QTY'] != ''),]
print (not_null_freight)

                                        PART DESCRIPTION  \
2485        Parkside - Urbanstone - 6" x 6" - Anthracite
4009   JUNCKERS\JHCTMCVG T-MOLDING\VISTA GREY\20.5MMX78"
4018               JUNCKERS\POLYFOAM UNDERLAYMENT\1MX30M
4087      MOHAWK\C0009 SECOYA LVT\142 KEW GARDENS\9"X59"
4971   Teragren Essence Strand Bamboo 72.83in x 7.48i...
...                                                  ...
50767  Cle Tile - Foundry Flats Standard Issue Brick ...
50769  Cle Tile - Lapidary Etui Petit Mosaic Sheet - ...
50772  Cle Tile - Lapidary Etui Petit Mosaic Sheet - ...
50774  Cle Tile - Foundry Flats Standard Issue Brick ...
51216  Wayne Tile Botanical Field Tile 2in x 8in Glos...

                       SUPPLIER NAME  PO INV QTY
2485      American Import Tile, Ltd.     1512.00
4009         Juncker's Hardwood, Inc        3.00
4018         Juncker's Hardwood, Inc        7.00
4087          Mohawk Commercial, Inc        4.00
4971   Nation Wholesale Trades, LLC.     1589.00
...                              ...         ...
50767      Tilevera LLC dba Cle Tile       30.00
50769      Tilevera LLC dba Cle Tile       12.00
50772      Tilevera LLC dba Cle Tile      152.00
50774      Tilevera LLC dba Cle Tile      197.91
51216       Wayne Tile Imports, Inc.      220.04

[70 rows x 3 columns]

In [186]:
# Check is its a supplier thing 
null_suppliers = null_freight['SUPPLIER NAME'].dropna().unique()
not_null_suppliers = not_null_freight['SUPPLIER NAME'].dropna().unique()

# Find the intersection of both supplier name sets
common_suppliers = set(null_suppliers).intersection(set(not_null_suppliers))

print(len(common_suppliers))

27

**Delivery Freight**

1) What is a delivery freight?
2) All delivery freight do not have quantitiy. Is this corrct?

In [222]:
delivery_other = data.loc[data['ACCOUNT DESCRIPTION'] == 'Delivery Other', ['PART DESCRIPTION', 'SUPPLIER NAME','PO INV QTY']]
print(delivery_other)

      PART DESCRIPTION                SUPPLIER NAME  PO INV QTY
158                NaN       Quick Delivery Service         NaN
280                NaN         Dal Tile Corporation         NaN
282                NaN         Dal Tile Corporation         NaN
385                NaN                    On The Go         NaN
444                NaN                  Jon-Don LLC         NaN
...                ...                          ...         ...
51492              NaN  Specialty Tile Products Inc         NaN
51493              NaN  Specialty Tile Products Inc         NaN
51494              NaN  Specialty Tile Products Inc         NaN
51495              NaN  Specialty Tile Products Inc         NaN
51496              NaN  Specialty Tile Products Inc         NaN

[415 rows x 3 columns]

In [224]:
null_dfreight = delivery_other.loc[delivery_other['PO INV QTY'].isna(), ['PART DESCRIPTION', 'SUPPLIER NAME']]
print(null_dfreight)

      PART DESCRIPTION                SUPPLIER NAME
158                NaN       Quick Delivery Service
280                NaN         Dal Tile Corporation
282                NaN         Dal Tile Corporation
385                NaN                    On The Go
444                NaN                  Jon-Don LLC
...                ...                          ...
51492              NaN  Specialty Tile Products Inc
51493              NaN  Specialty Tile Products Inc
51494              NaN  Specialty Tile Products Inc
51495              NaN  Specialty Tile Products Inc
51496              NaN  Specialty Tile Products Inc

[415 rows x 2 columns]